/* Variabke */

$coklat: #EAC388;
$merah: #DD423E;
$abuabu: #A2A384;
$cream: #EAC388;
$gold: #C5AD4B;

/* End of Variable */

body {
    margin-top: 100px;
    background-color: #222;
    @media(min-width: 768px) {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
    @media(min-width: 768px) {
        padding-left: 225px;
    }
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    @media(min-width: 768px) {
        padding: 10px;
    }
}

.huge {
    font-size: 50px;
    line-height: normal;
}


/* Top Navigation */

.top-nav {
    padding: 0 15px;
    & > li {
        display: inline-block;
        float: left;
        & > a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            color: #999;
            &:hover,
            &:focus {
                color: #fff;
                background-color: #000;
            }
        }
    }
    & > .open {
        & > a,
        & > a:hover,
        & > a:focus {
            color: #fff;
            background-color: #000;
        }
        & > .dropdown-menu {
            float: left;
            position: absolute;
            margin-top: 0;
            border: 1px solid rgba(0, 0, 0, .15);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: #fff;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            & > li > a {
                white-space: normal;
            }
        }
    }
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    & > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        & > li > a {
            width: 225px;
            &:hover,
            &:focus {
                outline: none;
                background-color: #000 !important;
            }
        }
    }
}

.side-nav > li > ul {
    padding: 0;
    & > li > a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #999;
        &:hover {
            color: #fff;
        }
    }
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
    &-content {
        width: 100%;
        height: 100%;
    }
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

@mixin color-panel($color) {
    border-color: $color;
    & > .panel-heading {
        border-color: $color;
        color: #fff;
        background-color: $color;
    }
    & > a {
        color: $color;
        &:hover {
            color: darken($color, 10%);
        }
    }
}

.panel-green {
    @include color-panel(#5cb85c);
}

.panel-red {
    @include color-panel(#d9534f);
}

.panel-yellow {
    @include color-panel(#f0ad4e);
}
